#knowAboutPageMainHeader{
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 10px;
	background-color: #b9a97c;
}
#queryContainer{
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
}
#infoServiceContainer{
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 30px;
}
.queryInputErr{
	color: red;
}